@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Righteous&display=swap');

main {
    text-align: center;
    font-family: 'Righteous';
}

.player-1-turn {
    background-color: #FF615F;;
}

.player-2-turn {
    background-color: #3DC5F2;
}

h1 {
    color: blue;
}

#board {
    height: 630px;
    width: 630px;
    margin: 0 auto;
    background: black;
    border: 4px solid black;
    justify-content: center;
}

.tile {
    width: 200px;
    height: 200px;
    display: inline-block;
    background-color: gray;
    border: 2px solid black;
    margin: none;
}
.x {
    background-image: url('./assets/x.png');
}

.o {
    background-image: url('./assets/o.png');
}

.clicked {
    background-size: 200px 200px;
    background-repeat: 'no-repeat';
    background-position: center;
}